/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: 1: GLOBAL STYLES
:: 2: FONTS AND THEIR DECLARATIONS
:: 3: HEADINGS
:: 4: SECTIONS
:: 3: Headings
:: 3: Headings
:: 3: Headings
:: 3: Headings
*/

/******************************************************************************************************************************************************
GLOBAL STYLES
********************************************************************************************************************************************************/
body {
	background: #F5F5F5;
}
.homebg {
	width: 100%;
	background: url(../images/header_bg_large.jpg) repeat-x;
	min-height: 570px;
	padding: 18px 0 0 0;
}
.innerpagebg {
	width: 100%;
	background: url(../images/innerpagebg.png) repeat-x;
	min-height: 169px;
	padding: 18px 0 0 0;
}
.pagebg {
	width: 100%;
	background: url(../images/header_bg_large.jpg) repeat-x;
	min-height: 570px;
	padding: 18px 0 0 0;
}
.invitation_step_container {
	display: block;
	background: #ffffff;
	border: 1px solid #D9D9D9;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	overflow: hidden;
	margin-left: 0;
	padding: 20px;
	background: #FAFAFA;
}
.user_admin_container {
	display: block;
	border: 1px solid #D9D9D9;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	overflow: hidden;
	margin-left: 0;
	padding: 20px 50px;
	background: #ffffff;
}
.invitation_container {
}
.formstep {
	padding: 0px;
	background: url(../images/step-active-strip.png) repeat-y 32px 20px;
}
.step-active-bg {
	background: url(../images/step-active-strip.png) repeat-y center top;
	width: 49px;
}
.one-normal-icon {
	background: url(../images/step-one-normal-icon.png) No-repeat center top;
	width: 49px;
	height: 47px;
}
.two-normal-icon {
	background: url(../images/step-two-normal-icon.png) No-repeat center top;
	width: 49px;
	height: 47px;
}
.three-normal-icon {
	background: url(../images/step-three-normal-icon.png) No-repeat center top;
	width: 49px;
	height: 47px;
}
.four-normal-icon {
	background: url(../images/step-four-normal-icon.png) No-repeat center top;
	width: 49px;
	height: 47px;
}
.one-active-icon {
	background: url(../images/step-one-active-icon.png) No-repeat center top;
	width: 49px;
	min-height: 47px;
}
.two-active-icon {
	background: url(../images/step-two-active-icon.png) No-repeat center top;
	width: 49px;
	min-height: 47px;
}
.three-active-icon {
	background: url(../images/step-three-active-icon.png) No-repeat center top;
	width: 49px;
	min-height: 47px;
}
.four-active-icon {
	background: url(../images/step-four-active-icon.png) No-repeat center top;
	width: 49px;
	min-height: 47px;
}
.clear {
	clear: both;
}
/******************************************************************************************************************************************************
FONT DECLARATIONS
********************************************************************************************************************************************************/
@font-face {
	font-family: 'proxima_nova_cn_rgitalic';
	src: url('../fonts/proximanovacond-regularit-webfont.eot');
	src: url('../fonts/proximanovacond-regularit-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanovacond-regularit-webfont.woff') format('woff'), url('../fonts/proximanovacond-regularit-webfont.ttf') format('truetype'), url('../fonts/proximanovacond-regularit-webfont.svg#proxima_nova_cn_rgitalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_ltbold';
	src: url('../fonts/proximanova-semibold-webfont.eot');
	src: url('../fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-semibold-webfont.woff') format('woff'), url('../fonts/proximanova-semibold-webfont.ttf') format('truetype'), url('../fonts/proximanova-semibold-webfont.svg#proxima_nova_ltbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Dosis';
	font-style: normal;
	font-weight: 700;
	src: local('Dosis Bold'), local('Dosis-Bold'), url(http://themes.googleusercontent.com/static/fonts/dosis/v1/x-7NZTw0n-ypOAaIE8uSrvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
	font-family: 'Dosis';
	font-style: normal;
	font-weight: 400;
	src: local('Dosis Regular'), local('Dosis-Regular'), url(http://themes.googleusercontent.com/static/fonts/dosis/v1/xIAtSaglM8LZOYdGmG1JqQ.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
	font-family: 'english111_vivace_btregular';
	src: url('../fonts/e111viva-webfont.eot');
	src: url('../fonts/e111viva-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/e111viva-webfont.woff') format('woff'), url('../fonts/e111viva-webfont.ttf') format('truetype'), url('../fonts/e111viva-webfont.svg#english111_vivace_btregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
/******************************************************************************************************************************************************
HEADINGS
********************************************************************************************************************************************************/
h1 {
	font-family: 'english111_vivace_btregular', Georgia, "Times New Roman", Times, serif;
	font-size: 40px;
	font-weight: normal;
	line-height: 18px;
}
h1 span.embosed {
	font-family: 'proxima_nova_ltbold', Arial, Verdana, sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
	letter-spacing: 2px;
}
h2 {
	font-family: 'proxima_nova_ltbold', Arial, Verdana, sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
	letter-spacing: 2px;
}
h3 {
	font-family: 'proxima_nova_ltbold', Arial, Verdana, sans-serif;
	font-size: 16px;
	font-weight: bold;
}
h4 {
	font-family: 'proxima_nova_ltbold', Arial, Verdana, sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
}
h5 {
	font-family: 'Droid Serif', Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	letter-spacing: normal;
	text-transform: capitalize;
	line-height: 20px;
	margin: 0px;
	font-weight: normal;
	padding-left: 10px;
}
.invitation_details {
	background: #FFF;
}
.invitation .invitation_details h3 {
	font-size: 16px;
	font-weight: bold;
}
.invitation .invitation_details h4 {
	font-size: 1.2em;
}
h4 {
	width: 100%;
	font-size: 18px;
	color: #C84731;
	letter-spacing: 2px;
	font-weight: bold;
	text-align: left;
	border-bottom: 1px solid #E4E4E4;
	line-height: 0.1em;
	margin: 5px 0 20px;
}
h4 span {
	background: #F5F5F5;
	padding: 0 10px;
}
.formstep h3 {
	font-family: 'proxima_nova_ltbold', Arial, Verdana, sans-serif;
	font-size: 24px;
	font-weight: bold;
	line-height: 19px;
	letter-spacing: -1px;
}
.formstep h3:hover {
	color: #e8554e;
}
.formstep form {
	margin-top: 20px;
}
/******************************************************************************************************************************************************
COLORS
********************************************************************************************************************************************************/
.brown {
	color: #7A5433;
}
.darkbrown {
	color: #4E3F32
}
.meroon {
	color: #C84731;
}
.15pt {
font-size:15px;
}
.lightmeroon {
	color: #e8554e;
}
/******************************************************************************************************************************************************
HEADINGS
********************************************************************************************************************************************************/
li a.guest_reminders {
	background: url(../images/clock_icon.png) no-repeat;
	width: 260px;
	float: left;
	display: inline;
	padding: 6px 10px 6px 35px;
	font-weight: bold;
	color: #5F5F5F;
}
li a.guest_reminders:hover {
	color: #e8554e;
}
li a.event_location {
	background: url(../images/address_icon.png) no-repeat;
	width: 260px;
	float: left;
	display: inline;
	padding: 6px 10px 6px 35px;
	font-weight: bold;
	color: #5F5F5F;
}
li a.event_location:hover {
	color: #e8554e;
}
li a.url_invitation {
	background: url(../images/link_icon.png) no-repeat;
	width: 260px;
	float: left;
	display: inline;
	padding: 6px 10px 6px 35px;
	font-weight: bold;
	color: #5F5F5F;
}
li a.url_invitation:hover {
	color: #e8554e;
}
/******************************************************************************************************************************************************
SECTIONS AND BLOCKS
********************************************************************************************************************************************************/
.user_credentials {
	font-family: 'proxima_nova_ltbold', Arial, Verdana, sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	letter-spacing: 0px;
	color: #4E3F32;
	padding-top: 15px;
	height: 30px;
	padding-right: 28px;
}
.user_credentials a {
	font-family: 'proxima_nova_ltbold', Arial, Verdana, sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
	letter-spacing: 0px;
	color: #4E3F32;
}
.user_credentials a:hover {
	color: #C84731;
}
.user_credentials a:active {
	color: #C84731;
	margin-top: 2px;
}
.title_graphic {
	text-align: center;
}
.bird_graphic {
	text-align: center;
}
.extramargin {
	margin: 90px auto 10px !important;
}
/******************************************************************************************************************************************************
FOUNDATION  OVERRIDES
********************************************************************************************************************************************************/
label {
	font-size: 12px;
	font-weight: bold;
}
.tabs.pill dd, .tabs.pill li {
	margin-right: 5px;
}
.tabs dd a, .tabs li a {
	color: #6f6f6f;
	display: block;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	padding: 0px 12px;
}
form.custom div.custom.dropdown {
	display: block;
	position: relative;
	height: 28px;
	margin-bottom: 9px;
	margin-top: 2px;
	width: 100%;
}
.tabs dd.active, .tabs li.active {
	border-top: 3px solid #4e3f32;
	margin-top: -3px;
}
.top-bar ul>li.toggle-topbar a {
	content: "";
	display: block;
	width: 0;
	height: 0;
	background: url(../images/menuicon.png) no-repeat;
	border: 0px;
	border-color: none;
	padding: 0;
	position: absolute;
	top: 30%;
	right: 22.5px;
	margin-top: -4px;
	width: 24px;
	height: 24px;
}
.top-bar.expanded ul li.toggle-topbar a {
	content: "";
	display: block;
	width: 0;
	height: 0;
	background: url(../images/menuicon_active.png) no-repeat;
	border: 0px;
	border-color: none;
	top: auto;
	padding: 0;
	position: absolute;
	top: 30%;
	right: 22.5px;
	margin-top: -4px;
	width: 24px;
	height: 24px;
}
.colnopad {
	padding: 0px;
}
.reveal-modal {
	padding: 0px;
}
.reveal-modal .close-reveal-modal:not(.button) {
	font-size: 22px;
	font-size: 2.2rem;
	line-height: .5;
	position: absolute;
	top: 18px;
	right: 20px;
	color: #aaa;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.6);
	font-weight: bold;
	cursor: pointer;
}
form.custom {
	padding-left: 12px;
}
.user_admin_container form.custom {
	padding-left: 0px;
}
footer {
	background: #ffffff url(../images/footer_border.jpg) repeat-x left top;
	min-height: 250px;
	margin: 30px 0px 0px 0px;
	padding: 30px 20px
}
footer a {
	font-size: 13px;
	font-weight: normal;
	color: #5E5E5E;
	line-height: 24px;
}
footer a:hover {
	color: #C84731;
}
blockquote {
	margin: 0 0 17px;
	padding: 9px 20px 0 19px;
	border: 0px;
	font-family: 'Droid Serif', Georgia, "Times New Roman", Times, serif;
	font-style: italic;
}
footer ul.link-list>li {
	list-style: none;
	float: none;
	margin-left: 22px;
	display: block;
}
#searchwrapper {
	width: 211px; /*follow your image's size*/
	height: 40px;/*follow your image's size*/
	background-image: url(../images/search_box_bg.png);
	background-repeat: no-repeat; /*important*/
	padding: 0px;
	margin: 0px;
	position: relative; /*important*/
}
#searchwrapper form {
	display: inline;
}
.searchbox {
	border: 0px; /*important*/
	background-color: transparent; /*important*/
	position: absolute; /*important*/
	top: 4px;
	left: 9px;
	width: 100px;
	height: 28px;
}
.searchbox_submit {
	border: 0px; /*important*/
	background-color: transparent; /*important*/
	position: absolute; /*important*/
	top: 8px;
	left: 160px;
	width: 20px;
	height: 20px;
}
.button {
	width: auto;
	background: #544538;
	border: 1px solid #47382B;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: 14px;
	font-weight: bold;
	line-height: 1;
	margin: 0;
	padding: 10px 20px 11px;
	position: relative;
	text-align: center;
	text-decoration: none;
	-webkit-transition: background-color 0.15s ease-in-out;
	-moz-transition: background-color 0.15s ease-in-out;
	-o-transition: background-color 0.15s ease-in-out;
	transition: background-color 0.15s ease-in-out;
}
.nav-bar>li.has-flyout>a:first-child:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border: solid 4px;
	border-color: #4E3F32 transparent transparent transparent;
	position: absolute;
	right: 20px;
	top: 12px;
}
.caps {
	text-transform: uppercase;
}
.bold {
	font-weight: bold;
}
.bold700 {
	font-weight: 700;
}
.martop10 {
	margin-top: 10px;
}
.martop20 {
	margin-top: 20px;
}
.ctabutton {
	width: 100%;
	margin: 0px auto;
	text-align: center;
}
.nav-bar>li.has-flyout>a.flyout-toggle {
	border-left: 0 !important;
	position: absolute;
	right: 0;
	top: 0;
	padding: 10px;
	z-index: 2;
	display: block;
}
.footer-border {
	background: url(../images/footer_bottom_border.png) no-repeat center top;
	margin: 0px auto;
	min-height: 100px;
}
.footer-border p {
	font-size: 12px;
	text-align: center;
	margin-top: 20px;
	color: #5E5E5E;
}
.droid {
	font-family: 'Droid Serif', Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	font-style: italic;
}
.top-bar ul>li:not(.name):hover, .top-bar ul>li:not(.name).active, .top-bar ul>li:not(.name):focus {
	background: #4E3F32;
}
.top-bar ul>li.has-dropdown .dropdown {
	background: #4E3F32;
	left: 0;
	margin: 0;
	padding: 9px 0 0 0;
	position: absolute;
	visibility: hidden;
	z-index: 99;
}
.top-bar ul>li.has-dropdown .dropdown li {
	background: #4E3F32;
	line-height: 1;
	min-width: 100%;
	padding-bottom: 5px;
}
.top-bar {
	background: none;
	min-height: 30px;
	line-height: 30px;
	margin: 0 0 30px 0;
	padding: 0;
	width: 100%;
	position: relative;
}
.top-bar ul>li a:not(.button) {
	font-family: 'proxima_nova_ltbold', Arial, Verdana, sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	color: #4E3F32;
	display: block;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	padding: 0 15px;
}
.top-bar ul>li.has-dropdown a:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border: solid 5px;
	border-color: #4E3F32 transparent transparent transparent;
	margin-right: 0px;
	margin-top: -2.5px;
	position: absolute;
	right: 0;
	top: 50%;
}
.top-bar ul>li:not(.name):hover a, .top-bar ul>li:not(.name).active a, .top-bar ul>li:not(.name):focus a {
	color: #ffffff;
}
.round {
	width: 100%;
	border-radius: 15px;
	border: 1px #fff solid;
	padding: 5px 5px 5px 25px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
}
.corner {
	position: absolute;
	top: 3px;
	left: 5px;
	height: 20px;
	width: 20px;
	z-index: 10;
	border-radius: 10px;
	border: none;
	background: #000; /* Set the bg image here. with "no-repeat" */
}
.search {
	position: relative;
	width: 190px;
	height: 30px;
}
/******************************************************************************************************************************************************
FOUNDATION PAGINATION  OVERRIDES
********************************************************************************************************************************************************/
div.pagination-centered {
	margin-bottom: 20px;
	margin-top: 10px;
	clear: both;
}
ul.pagination li {
	float: left;
	display: block;
	height: 24px;
	color: #999;
	font-size: 14px;
	margin-left: 1px;
}
ul.pagination li a {
	background: #E5E5E5;
	color: #B8B8B8;
	font-weight: bold;
	cursor: default;
	border-radius: 2px;
	cursor: pointer;
	display: block;
	padding: 3px 10px 3px;
	color: #555;
}
ul.pagination li.current a {
	background: #4F3F32;
	color: #F8E05C;
	font-weight: bold;
	cursor: default;
	border-radius: 2px;
}
ul.breadcrumbs {
	display: block;
	background: #ffffff;
	padding: 6px 10px 7px;
	border: 1px solid #D9D9D9;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	overflow: hidden;
	margin-left: 0;
	line-height: 32px;
}
.right_mar10 {
	margin-right: 10px;
}
ul.tabs-content.contained>li {
	border: solid 0 #e6e6e6;
	border-width: 0 1px 1px 1px;
	padding: 20px;
	background: #ffffff;
}
/******************************************************************************************************************************************************
FOUNDATION SIDE NAVIGATION OVERRIDES
********************************************************************************************************************************************************/
ul.side-nav {
	width: 100%;
}
.navcontainer {
	background: #FFF;
	padding: 10px;
	margin-top: 20px;
}
.navborder {
	border: 1px solid #E5E5E5;
	padding: 0px 20px 0px 20px;
}
.navborder ul.side-nav li a {
	font-size: 13px;
	font-weight: bold;
	color: #848484;
	padding-left: 20px;
	background: url(../images/left-menu-list-arrow.png) no-repeat 5px 3px;
}
.navborder ul.side-nav li a:hover {
	color: #C84731;
}
/******************************************************************************************************************************************************
PREVIEW INVITATION
********************************************************************************************************************************************************/
.invitationbase {
	margin-top: -14px;
}
.invitation_border {
	border-right: 20px solid #FFF;
	border-left: 20px solid #FFF;
	background: #FFF;
}
.invitation_border_bg {
	height: 20px;
	background: url(../images/invitation_border_bg.jpg) no-repeat center top;
}
.header_preview_invitation {
	height: 96px;
	background: url(../images/preview_invitation_beaderbg.jpg) repeat-x;
	text-align: center;
}
.header_preview_invitation img {
	padding-top: 30px;
}
.greypattern {
	height: 7px;
	background: url(../images/grey-pattern.png) repeat-x;
}
.invitation_content {
	padding: 20px 10px
}
.invitation_content h3 {
	text-align: center;
}
.invitation_content p {
	font-family: 'Droid Serif', Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	color: #AAA9A9;
	text-align: center;
	line-height: 24px;
}
.message{ padding:20px;}
.message p{ font-family: 'Droid Serif', Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	font-weight:bold;
	color: #4E3F32;
	text-align: center;
	line-height: 24px;}
.rsvp{ text-align:center; padding:30px 0px;}
.rsvp h3{ font-size:36px; font-weight:bold; text-align:center;}



a.button_reply {
background-image: -moz-linear-gradient(top, #ffffff, #dbdbdb);
background-image: -webkit-gradient(linear,left top,left bottom,
    color-stop(0, #ffffff),color-stop(1, #dbdbdb));
filter: progid:DXImageTransform.Microsoft.gradient
    (startColorStr='#ffffff', EndColorStr='#dbdbdb');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient
    (startColorStr='#ffffff', EndColorStr='#dbdbdb')";
border: 1px solid #fff;
-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
border-radius: 18px;
-webkit-border-radius: 18px;
-moz-border-radius: 18px;
padding: 5px 15px;
text-decoration: none;
text-shadow: #fff 0 1px 0;
float: left;
margin-right: 15px;
margin-bottom: 15px;
display: block;
color: #757575;
line-height: 26px;
font-size: 14px;
font-weight: bold;

}
a.button_reply:hover {
background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
background-image: -webkit-gradient(linear,left top,left bottom,
    color-stop(0, #ffffff),color-stop(1, #eeeeee));
filter: progid:DXImageTransform.Microsoft.gradient
    (startColorStr='#ffffff', EndColorStr='#eeeeee');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient
    (startColorStr='#ffffff', EndColorStr='#eeeeee')";
color: #000;
display: block;
}

a.button_reply:active {
background-image: -moz-linear-gradient(top, #dbdbdb, #ffffff);
background-image: -webkit-gradient(linear,left top,left bottom,
    color-stop(0, #dbdbdb),color-stop(1, #ffffff));
filter: progid:DXImageTransform.Microsoft.gradient
    (startColorStr='#dbdbdb', EndColorStr='#ffffff');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient
    (startColorStr='#dbdbdb', EndColorStr='#ffffff')";
text-shadow: 0px -1px 0 rgba(255, 255, 255, 0.5);
margin-top: 1px;

}

a.button_reply {
border: 1px solid #979797;
}
a.button_reply.iconyes {
padding-left: 11px;

}

a.button_reply.iconyes span{
	
padding-left: 26px;
background:url(../images/yes_icon.png) no-repeat;

}

a.button_reply.iconno {
padding-left: 11px;

}

a.button_reply.iconno span{
	
padding-left: 26px;
background:url(../images/no_icon.png) no-repeat;

}

a.button_reply.iconmaybe {
padding-left: 11px;

}

a.button_reply.iconmaybe span{
	
padding-left: 26px;
background:url(../images/maybe_icon.png) no-repeat;

}

/******************************************************************************************************************************************************
SOCIAL FOUNDATION - SOCIAL MEDIA ICONS WITHOUT IMAGES
********************************************************************************************************************************************************/
[class*="foundicon-"]:after {
	position: relative;
	top: -4px;
	left: 10px;
	color: #888;
	font-size: 80%;
	font-style: normal;
}
.foundicon-thumb-up:after {
	content: "thumb-up";
}
.foundicon-thumb-down:after {
	content: "thumb-down";
}
.foundicon-rss:after {
	content: "rss";
}
.foundicon-facebook:after {
	content: "facebook";
}
.foundicon-twitter:after {
	content: "twitter";
}
.foundicon-pinterest:after {
	content: "pinterest";
}
.foundicon-github:after {
	content: "github";
}
.foundicon-path:after {
	content: "path";
}
.foundicon-linkedin:after {
	content: "linkedin";
}
.foundicon-dribbble:after {
	content: "dribbble";
}
.foundicon-stumble-upon:after {
	content: "stumble-upon";
}
.foundicon-behance:after {
	content: "behance";
}
.foundicon-reddit:after {
	content: "reddit";
}
.foundicon-google-plus:after {
	content: "google-plus";
}
.foundicon-youtube:after {
	content: "youtube";
}
.foundicon-vimeo:after {
	content: "vimeo";
}
.foundicon-flickr:after {
	content: "flickr";
}
.foundicon-slideshare:after {
	content: "slideshare";
}
.foundicon-picassa:after {
	content: "picassa";
}
.foundicon-skype:after {
	content: "skype";
}
.foundicon-steam:after {
	content: "steam";
}
.foundicon-instagram:after {
	content: "instagram";
}
.foundicon-foursquare:after {
	content: "foursquare";
}
.foundicon-delicious:after {
	content: "delicious";
}
.foundicon-chat:after {
	content: "chat";
}
.foundicon-torso:after {
	content: "torso";
}
.foundicon-tumblr:after {
	content: "tumblr";
}
.foundicon-video-chat:after {
	content: "video-chat";
}
.foundicon-digg:after {
	content: "digg";
}
.foundicon-wordpress:after {
	content: "wordpress";
}
/******************************************************************************************************************************************************
INVITATIONS
********************************************************************************************************************************************************/
.topspace {
	margin-top: 10px;
}
.invitation {
	text-align: center;
}
.shadow {
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
.invitation a {
	text-decoration: none !important;
}
a {
	color: #e8554e;
	text-decoration: none;
}
.invitation .invitation_details hgroup {
	width: 100%;
	margin: 0 auto;
}
.invitation .invitation_details figure img {
	color: transparent;
	font-size: 0;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
}
.invitation .invitation_details figure figcaption {
	height: 6px;
}
.color-bar {
	display: block;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	white-space: nowrap;
	background: #F6DE5A;
}
.invitation .invitation_details dl {
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 6px 0 4px 0;
	font-size: 11px;
	color: #a2a39e;
	border-top: 1px solid #edede9;
}
.invitation .invitation_details dt {
	font-size: 11px;
	text-indent: -119988px;
	overflow: hidden;
	text-align: left;
	background-image: url('../images/icons.png?1357742171');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 20px;
	height: 20px;
	margin-top: -3px;
}
.invitation .invitation_details dt.views {
	background-position: -527px -22px;
	width: 30px;
}
.invitation .invitation_details dt.edit {
	background-position: -655px -22px;
	width: 30px;
}
.invitation .invitation_details dt.delete {
	background-position: -655px -82px;
	width: 30px;
}
.user_admin_container .invitation_details ul, ol, dl {
	font-size: 14px;
	line-height: 1.6;
	margin-bottom: 5px;
	list-style-position: outside;
}
.editing_panel a {
	font-size: 12px;
	font-weight: bold;
}
.invitation .invitation_details dt, .invitation .invitation_details dd {
	font-size: 11px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
}
.invitation .invitation_details dd {
	margin-right: 15px;
}
.invitation .invitation_details dt.favorites {
	background-position: -470px -22px;
	margin-left: 0.8em;
}
.invitation .invitation_details dt, .invitation .invitation_details dd {
	font-size: 11px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
}
.papers_stack {
	background-color: #fff;
	margin: 25px auto;
	font-family: Droid Sans;
	color: #aaa;
	border: 1px solid #DDDDDD;
	padding: 0px 20px;
	-webkit-box-shadow: 0 5px 0 -4px #fff, 0 5px 0 -3px #DDDDDD, 0 11px 0 -8px #fff, 0 11px 0 -7px #DDDDDD, 0 17px 0 -12px #fff, 0 17px 0 -11px #DDDDDD;
	-moz-box-shadow: 0 5px 0 -4px #fff, 0 5px 0 -3px #DDDDDD, 0 11px 0 -8px #fff, 0 11px 0 -7px #DDDDDD, 0 17px 0 -12px #fff, 0 17px 0 -11px #DDDDDD;
	box-shadow: 0 5px 0 -4px #fff, 0 5px 0 -3px #DDDDDD, 0 11px 0 -8px #fff, 0 11px 0 -7px #DDDDDD, 0 17px 0 -12px #fff, 0 17px 0 -11px #DDDDDD;
	background: #ffffff;
}
/******************************************************************************************************************************************************
TESTIMONIALS 
********************************************************************************************************************************************************/
.lightgrey {
	color: #7C7C7C;
}
.martop30 {
	margin-top: 30px;
}
.testimonial {
	margin: 0;
	background: #FFFFFF;
	padding: 30px 50px;
	position: relative;
	color: #666;
	border-radius: 5px;
	font-style: italic;
	text-shadow: 0 1px 0 #ECFBFF;
	width: 88%;
	margin: 0px auto;
}
.testimonial:before, .testimonial:after {
	content: "\201C";
	position: absolute;
	font-size: 80px;
	line-height: 1;
	color: #999;
	font-style: normal;
}
.testimonial:before {
	top: 0;
	left: 10px;
}
.testimonial:after {
	content: "\201D";
	right: 10px;
	bottom: -0.5em;
}
.arrow-down {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #FFFFFF;
	margin: 0 0 0 25px;
}
.testimonial-author {
	margin: 0 0 0 25px;
	font-family: Arial, Helvetica, sans-serif;
	color: #999;
	text-align: left;
}
.testimonial-author span {
	font-size: 12px;
	color: #666;
}
/******************************************************************************************************************************************************
FOUNDATION SEARCH OVERRIDES
********************************************************************************************************************************************************/
.search_button {
	width: 30px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	background: #E8C922;
}
.search {
	margin-top: -20px;
}
ul.title-area {
	background: #4E3F32;
}
/******************************************************************************************************************************************************
LOGIN POPUP
********************************************************************************************************************************************************/
.icon-social-facebook {
	display: inline-block;
	vertical-align: text-top;
	background-repeat: no-repeat;
	width: 28px;
	height: 28px;
	background-image: url(../images/facebook_icon.png);
	background-position: center center;
}
.icon-social-twitter {
	display: inline-block;
	vertical-align: text-top;
	background-repeat: no-repeat;
	width: 28px;
	height: 28px;
	background-image: url(../images/twitter_icon.png);
	background-position: center center;
}
.icon-social-google {
	display: inline-block;
	vertical-align: text-top;
	background-repeat: no-repeat;
	width: 28px;
	height: 28px;
	background-image: url(../images/google_icon.png);
	background-position: center center;
}
#user-registration-form {
	width: 570px;
}
#popup header {
	background-color: #46392D;
	padding: 15px 20px;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	width: 100%;
}
#user-registration-form .cell {
	padding: 20px 30px;
	border-top: 0 none;
}
#popup header h2 {
	font-size: 15px;
	color: white;
	margin: 0;
}
#user-registration-form .social-signin {
	float: left;
}
#user-registration-form .social-signin a {
	color: #ffffff;
}
#user-registration-form h4 {
	font-size: 13px;
	line-height: 27px;
	border-bottom: 1px solid #d2d2d2;
	margin-bottom: 20px;
}
#user-registration-form .social-signup.facebook {
	border-color: #344e86;
	background-color: #3b5998;
	background-color: #4264aa;
	background-image: deprecated-webkit-gradient(linear, left top, left bottom, #4264aa, #3b5998);
	background-image: -webkit-linear-gradient(top, #4264aa, #3b5998);
	background-image: -moz-linear-gradient(top, #4264aa, #3b5998);
	background-image: -ms-linear-gradient(top, #4264aa, #3b5998);
	background-image: -o-linear-gradient(top, #4264aa, #3b5998);
	background-image: linear-gradient(top, #4264aa, #3b5998);
	padding-right: 2px;
}
#user-registration-form .social-signup {
	font-size: 11px;
	border: 1px solid;
	text-align: center;
	padding-left: 30px;
	position: relative;
	color: white;
	width: 180px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 20px;
}
#user-registration-form .bttn {
	text-align: center;
	font-weight: bold;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	border: 1px solid #dcdcdc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 12px;
	padding: 4px 15px;
	line-height: 20px;
	color: #646464;
	text-shadow: 0 0 0;
	background-color: #fafafa;
	background-image: deprecated-webkit-gradient(linear, left top, left bottom, #fafafa, #f0f0ff);
	background-image: -webkit-linear-gradient(top, #fafafa, #f0f0ff);
	background-image: -moz-linear-gradient(top, #fafafa, #f0f0ff);
	background-image: -ms-linear-gradient(top, #fafafa, #f0f0ff);
	background-image: -o-linear-gradient(top, #fafafa, #f0f0ff);
	background-image: linear-gradient(top, #fafafa, #f0f0ff);
	-webkit-box-shadow: inset 0 -1px rgba(0,0,0,0.07), 0 0 0 rgba(0,0,0,0);
	-moz-box-shadow: inset 0 -1px rgba(0,0,0,0.07), 0 0 0 rgba(0,0,0,0);
	box-shadow: inset 0 -1px rgba(0,0,0,0.07), 0 0 0 rgba(0,0,0,0);
}
#user-registration-form .bttn {
	text-align: center;
	font-weight: bold;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	border: 1px solid #dcdcdc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 12px;
	padding: 4px 15px;
	line-height: 20px;
	color: #646464;
	text-shadow: 0 0 0;
	background-color: #fafafa;
	background-image: deprecated-webkit-gradient(linear, left top, left bottom, #fafafa, #f0f0ff);
	background-image: -webkit-linear-gradient(top, #fafafa, #f0f0ff);
	background-image: -moz-linear-gradient(top, #fafafa, #f0f0ff);
	background-image: -ms-linear-gradient(top, #fafafa, #f0f0ff);
	background-image: -o-linear-gradient(top, #fafafa, #f0f0ff);
	background-image: linear-gradient(top, #fafafa, #f0f0ff);
	-webkit-box-shadow: inset 0 -1px rgba(0,0,0,0.07), 0 0 0 rgba(0,0,0,0);
	-moz-box-shadow: inset 0 -1px rgba(0,0,0,0.07), 0 0 0 rgba(0,0,0,0);
	box-shadow: inset 0 -1px rgba(0,0,0,0.07), 0 0 0 rgba(0,0,0,0);
}
#user-registration-form .social-signup.facebook span {
	border-color: #263961;
}
#user-registration-form .social-signup.twitter span {
	border-color: #0074a1;
}
#user-registration-form .social-signup.google span {
	border-color: #ac2d1e;
}
#user-registration-form .social-signup span {
	position: absolute;
	top: 0;
	left: 0;
	border-right: 1px solid;
}
#user-registration-form .social-signup.twitter {
	border-color: #0099d3;
	background-color: #00aced;
	background-color: #07bbff;
	background-image: deprecated-webkit-gradient(linear, left top, left bottom, #07bbff, #00aced);
	background-image: -webkit-linear-gradient(top, #07bbff, #00aced);
	background-image: -moz-linear-gradient(top, #07bbff, #00aced);
	background-image: -ms-linear-gradient(top, #07bbff, #00aced);
	background-image: -o-linear-gradient(top, #07bbff, #00aced);
	background-image: linear-gradient(top, #07bbff, #00aced);
}
#user-registration-form .social-signup.google {
	border-color: #d73925;
	background-color: #dd4b39;
	background-color: #e15f4f;
	background-image: deprecated-webkit-gradient(linear, left top, left bottom, #e15f4f, #dd4b39);
	background-image: -webkit-linear-gradient(top, #e15f4f, #dd4b39);
	background-image: -moz-linear-gradient(top, #e15f4f, #dd4b39);
	background-image: -ms-linear-gradient(top, #e15f4f, #dd4b39);
	background-image: -o-linear-gradient(top, #e15f4f, #dd4b39);
	background-image: linear-gradient(top, #e15f4f, #dd4b39);
}
#user-registration-form .email-signin {
	width: 318px;
	border-left: 1px solid #d2d2d2;
	background-color: #fff;
}
#user-registration-form .or, #user-session-form .or {
	line-height: 40px;
	width: 40px;
	position: absolute;
	top: 50%;
	left: -21px;
	margin-top: -20px;
	text-align: center;
	font-style: italic;
	color: #424242;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
#user-registration-form h4 {
	font-size: 13px;
	line-height: 27px;
	border-bottom: 1px solid #d2d2d2;
	margin-bottom: 20px;
}
#user-registration-form .or {
	line-height: 40px;
	width: 40px;
	position: absolute;
	top: 50%;
	left: -21px;
	margin-top: -20px;
	text-align: center;
	font-style: italic;
	color: #424242;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
#user-registration-form form {
	margin: 0;
}
#user-registration-form input[type='text'], #user-registration-form input[type='email'], #user-registration-form input[type='password'], #user-session-form input[type='text'], #user-session-form input[type='email'], #user-session-form input[type='password'] {
	line-height: 1;
	padding: 6px 10px;
	background: white;
	width: 100%;
}
#user-registration-form label {
	display: inline;
	font-size: 13px;
	font-weight: normal;
}
#user-registration-form .create-account {
	margin-top: 26px;
}
#user-registration-form .secondary {
	float: right;
	color: #969696;
	font-size: 11px;
	margin-top: 7px;
}

/******************************************************************************************************************************************************
OUR MEDIA QUERIES
********************************************************************************************************************************************************/
@media screen and (max-width: 1000px) {
.formstep {
	padding: 0px;
	background: none;
}
}
 @media screen and (min-width: 800px) and (max-width: 1920px) {
ul.title-area li.name h1 {
	display: none;
}
}
@media screen and (max-width: 760px) {
#user-registration-form {
	width: 100%;
}
#user-registration-form .email-signin {
	width: 100%;
	border-left: 1px solid #ffffff;
	padding-left: 20px;
	background-color: #ffffff;
}
.user_credentials {
	font-family: 'proxima_nova_ltbold', Arial, Verdana, sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	letter-spacing: 0px;
	color: #4E3F32;
	padding-top: 0px;
	height: 30px;
	padding-right: 0px;
	text-align: center;
	padding-left: 15px;
}
.user_credentials ul.inline-list, ul.link-list {
	margin: 50px 20px 17px -22px;
	padding: 0;
	list-style: none;
	overflow: visible;
}
.user_credentials ul.inline-list>li, ul.link-list>li {
	list-style: none;
	float: right;
	margin-right: 4px;
	display: block;
}
.user_credentials ul.inline-list>li, ul.link-list>li {
	list-style: none;
	float: right;
	margin-left: 4px;
	display: block;
}
.user_admin_container {
	display: block;
	border: 1px solid #D9D9D9;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	overflow: hidden;
	margin-left: 0;
	padding: 20px 30px;
	background: #ffffff;
}
}
